<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}

    <body>
    {{- block "main" . }}{{- end }}
    {{- partial "scripts.html" . -}}
    </body>
</html>

{{/*<!DOCTYPE html>*/}}
{{/*<html lang="{{ .Site.LanguageCode }}">*/}}
{{/*<head>{{ partial "head.html" . }}</head>*/}}
{{/*<body>*/}}
{{/*{{ block "main" . }}*/}}
{{/*{{ end }}*/}}
{{/*{{- partial "scripts.html" . }}*/}}
{{/*</body>*/}}
{{/*</html>*/}}
