{{ define "main" }}
    <header>
        <h1 class="text-center">{{ .Site.Title }}</h1>
        {{ with .Site.Params.description }}<h4 class="text-center">{{ . }}</h4>{{ end }}
    </header>
    <article class="container-fluid">
        <div class="row">
            <div class="col-12">
                {{ partial "products/common/site-main-nav.html" . }}
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-6 part-single-article-container --img">
                {{ range .Params.images }}
                    <img class="b-lazy img-fluid text-center details-img"
                         data-src="{{ . | absURL }}"
                         src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                {{ end }}
            </div>
            <div class="col-12 col-md-6 part-single-article-container">
                {{ partial "products/single/product-single-heading.html" . }}
                <div class="d-none d-md-block">{{ .Content }}</div>
                {{ partial "products/single/product-single-footer.html" . }}
            </div>
        </div>
    </article>
{{ end }}