<header>
    <h1 class="text-center">{{ .Site.Title }}</h1>
    {{ with .Site.Params.description }}<h4 class="text-center">{{ . }}</h4>{{ end }}
</header>
<article class="container-fluid main-article-container">
    <div class="row">
        <div class="col-12">
            {{ partial "products/common/site-main-nav.html" . }} 
        </div>
    </div>
    <div class="row">
        {{ range .Site.RegularPages }}
            {{- partial "products/list/product-list-item.html" . }}
        {{ end }}
    </div>
    <script>
        var productVariants = null;
    </script>
</article>