
<a class="col-6 col-lg-3" href="{{ .RelPermalink }}" style="color: inherit;">
    <img class="b-lazy img-fluid text-center" data-src="{{ .Params.thumbnailImage | absURL }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
    <p class="text-center">
        <span style="font-size: 15px; font-weight: 500">{{ .Params.title }}</span>
        <br/>
        <span class="product-list-price-text">
            {{ if .Params.actualPrice }}
                {{ $.Scratch.Set "minimumPrice" (.Params.actualPrice | string) }}
                {{ $.Scratch.Set "currency" (.Params.currency | string) }}
                {{ if .Params.auction }} {{ $.Scratch.Set "auction" (", торг.") }} {{ end }}
            {{ else }}
                {{ $.Scratch.Set "minimumPrice" "999999999999999"}}
            {{ end }}
            {{ if .Params.inStock }}
                {{ $.Scratch.Set "inStock" (.Params.inStock | string) }}
            {{ else }}
                {{ $.Scratch.Set "inStock" "false" }}
            {{ end }}
            {{ range .Params.variants }}
                {{ $variantActualPrice := (.actualPrice | replaceRE "[^0-9.]+" "" | float )  }}
                {{ $actualPrice := ($.Scratch.Get "minimumPrice" | replaceRE "[^0-9.]+" "" | float) }}
                {{ if lt $variantActualPrice $actualPrice }}
                    {{ $.Scratch.Set "minimumPrice" (.actualPrice | string)}}
                    {{ $.Scratch.Set "isMinimumVariantPrice" "true"}}
                {{ end }}
                {{ if .inStock }}
                    {{ $.Scratch.Set "inStock" "true" }}
                {{ end }}
            {{ end }}
            {{ if eq ($.Scratch.Get "isMinimumVariantPrice") "true" }} От {{ end }}

            {{ $.Scratch.Get "minimumPrice" }} {{ $.Scratch.Get "currency" }} {{ $.Scratch.Get "auction" }}

            {{ if not (eq ($.Scratch.Get "inStock") "true")}}
                <span class="font-weight-bold">— Продано</span>
            {{ end }}
        </span>
    </p>
</a>