<nav class="navbar navbar-expand-lg navbar-light justify-content-center">
    <ul class="navbar-nav navbar-nav__row">
        <li class="nav-item">
            <a class="nav-link icon-nav-link" href="{{ "/" | absURL }}">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
        </li>
        {{ range site.Menus.main }}
            <li class="nav-item">
                <a class="nav-link" href="{{if .Pre}}{{site.BaseURL | absLangURL}}{{.Pre}}{{ .URL }}{{else}}{{.URL | absLangURL}}{{end}}">{{ .Name }}</a>
            </li>
        {{ end }}
    </ul>
</nav>