<h1 class="single-product-title">{{ .Title }}</h1>

<div class="single-product-header">
    <div class="single-product-prices">
        {{if .Params.comparePrice }}
            <div>
                <span class="product-compare-price" style="text-decoration: line-through">{{ .Params.comparePrice }}</span>
            </div>
        {{end}}
        <div>
        <span class="product-actual-price">
            {{ .Params.actualPrice }} {{ .Params.currency }} {{ if .Params.auction }} торг. {{end}}
        </span>
        </div>
        {{ if not .Params.inStock }}
            <div>
            <span class="product-not-in-stock font-weight-bold">
                Нет в наличии
            </span>
            </div>
        {{end}}
    </div>
    <div class="single-product-options">
        {{ range $index, $element := .Params.options }}
            {{if $element}}
                <div class="single-product-options__item">
                    <span>{{ $index | humanize }}:</span>
                    <span>{{ $element }}</span>
                </div>
            {{end}}
        {{ end }}
    </div>
</div>


<script>
    var productActualPrice = {{ .Params.actualPrice }}
    var productCurrency = {{ .Params.currency }}
    var productAuction = {{ .Params.auction }}
    var productComparePrice = {{ .Params.comparePrice }}
    var productInStock = {{ .Params.inStock }}
    var productVariants = JSON.parse({{ .Params.variants | jsonify }})
</script>