<head>
    <meta charset="utf-8">

    {{- if eq .Kind "home" -}}
        {{- $.Scratch.Set "Description" ( .Site.Params.description | default "YarMarket" ) -}}
        {{- $.Scratch.Set "Title" .Site.Title -}}
    {{- else -}}
        {{- $.Scratch.Set "Description" ( .Description | default .Params.seo_description | default .Params.subtitle | default .Summary | default .Kind ) -}}
        {{- $.Scratch.Set "Title" ( .Title | default .Site.Title ) -}}
    {{- end }}

    {{- with ($.Scratch.Get "Title") }}
        <title>{{ print . }} - {{ $.Site.Title }}</title>
    {{- end -}}

    {{ "<!-- mobile responsive meta -->" | safeHTML }}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

{{/*    <meta name="description"*/}}
{{/*          content="{{ with .Description }}{{ . }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}">*/}}
    {{- with ($.Scratch.Get "Description") }}
        <meta name="description" content="{{ . }}">
    {{- end -}}

    {{ with site.Params.author }}
        <meta name="author" content="{{ . }}">
    {{ end }}

{{/*    <link rel="canonical" href="{{site.BaseURL}}" />*/}}

    {{ "<!-- plugins -->" | safeHTML }}
    {{ range site.Params.css }}
        <link rel="stylesheet" href="{{ .link | absURL }} ">
    {{ end }}

    {{ "<!-- Main Stylesheet -->" | safeHTML }}
    {{ $styles := resources.Get "css/style.scss" | toCSS | minify }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">

    {{ "<!--Favicon-->" | safeHTML }}
    <link rel="shortcut icon" href="{{ `images/favicon.png` | absURL }} " type="image/x-icon">
    <link rel="icon" href="{{ `images/favicon.png` | absURL }} " type="image/x-icon">

    {{ with .Params.image }}
        <meta property="og:image" content="{{ . | absURL }}" />
    {{ end }}

{{/*    {{ template "_internal/opengraph.html" . }}*/}}
{{/*    {{ template "_internal/google_analytics.html" . }}*/}}
{{/*    {{ template "_internal/google_analytics_async.html" . }}*/}}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179319398-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-179319398-1');
    </script>

</head>