<script src="{{ "js/jquery-3.5.1.slim.min.js" | absURL }}"></script>
<script src="{{ "js/popper.min.js" | absURL }}"></script>
<script src="{{ "js/bootstrap.min.js" | absURL }}"></script>
<script src="{{ "js/lodash.min.js" | absURL }}"></script>
<script src="{{ "js/blazy.min.js" | absURL }}"></script>
<script src="{{ "js/main.js" | absURL }}"></script>